@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-sec-1
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#__next {
  height: 100%;
}

.logoText {
  background-image: linear-gradient(45deg, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871);
  background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: logoText-animation 10s infinite alternate;
}

@keyframes logoText-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}